<a href="https://colab.research.google.com/github/SadmanAdib13/First-Project/blob/main/loop_L3(cse110).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
count =1
while count<=5:
 print ("Happy Birthday")
 count=count+1

Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday

In [ ]:
count=24
while count>=-6:
 if count ==-6:
   print(count,end="")
 else:
   print(count,end=", ")
 count=count-6

24, 18, 12, 6, 0, -6

In [ ]:
for number in range(18,64,9):
 print(number,end=", ")

18, 27, 36, 45, 54, 63,

In [ ]:
for number in range(1,5,2):
 print ("Happy Birthday")

Happy Birthday
Happy Birthday

In [1]:
number=18
for number in range (18,64,9):
  if number==63:
   print (number,end=" ")
  else:
   print (number,end=", ")

18, 27, 36, 45, 54, 63

In [2]:
count=24
while count>=-6:
  if count==-6:
    print(count,end=" ")
  else:
    print(count,end=", ")
  count=count-6

24, 18, 12, 6, 0, -6

In [4]:
y=0
n =int(input("Enter value:"))
for i in range(1,n+1,1):
  if i%2==0:
    y=y-i**2
  else:
    y=y+i**2
print(y)

Enter value:97
4753

In [3]:

x=int(input("Enter Value:"))
while x>0:
  y=x%10
  if x<10:
   print(y,end=" ")
  else:
   print(y,end=", ")
  x=x//10

Enter Value:34
4, 3

In [5]:
x = int(input("Enter value:"))
counter = 0
y = 1

while y <= x:
    if x % y == 0:
        print(y, end="")
    else:
        print(y, end=", ")
    counter += 1
    y += 1

Enter value:23
12, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23

In [6]:
m=int(input("input row:"))
n=int(input("Input colum:"))
for i in range(m):
  for j in range (1,n+1):
    print (j,end="")
  print ()

input row:5
Input colum:6
123456
123456
123456
123456
123456

In [7]:
count=18
while count<=63:
  if count!=63 and count%2==0:
    print(count,end=", ")
  elif count==63:
    print('-'+str(count))
  if count%2!=0 and count!=63:
    print('-'+str(count))
  count=count+9

18, -27
36, -45
54, -63