<a href="https://colab.research.google.com/github/SadmanAdib13/First-Project/blob/main/Function_(cse110)/Assignment_5_23201475_Sadman_Adib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  #cW-1.1
def even_checker(num):
    if num%2==0:
        return "Even!!"
    else:
        return "Odd!!"
even_checker(10)

'Even!!'

In [ ]:
#CW-1.2
def is_even(num):
    if num%2==0:
        return True
    else:
        return False
result=is_even(10)
print(result)

True

In [ ]:
#CW-1.3
def is_pos(n):
  if n>0:
    return True
  else:
    return False
result=is_pos(-5)
print(result)

False

In [ ]:
#CW-1.4
def is_pos(num):  #From 1.3
    if num>=0 :
        return True
    else:
        return False

def is_even(num): #From 1.2
    if num%2==0:
        return True
    else:
        return False
def sequence(n):
    if is_pos(n):
        for i in range( n+1):
            if even_checker(i):
                print(i, end=" ")
    else:
      if is_even(n):
       for j in range(n+1,0,2):
        print(j,end=" ")
      else:
        for k in range(n,0,2):
          print(k,end=" ")


sequence(-7)

-7 -5 -3 -1

In [ ]:
#CW-2.1
def is_valid_triangle(a,b,c):
    if a+b>=c or b+c>=a or c+a>=b:
        return True
    else:
        return False
result=is_valid_triangle(7,5,10)
print(result)

True

In [ ]:
#CW-2.2
def is_valid_triangle(a,b,c):
    if a+b>=c or b+c>=a or c+a>=b:
        return True
    else:
        return False
def tri_area(a,b,c):
    if is_valid_triangle(a,b,c):
        s=(a+b+c)/2
        area=(s*(s-a)*(s-b)*(s-c))**0.5
        return area
    else:
        return"Can't form triangle"
result=tri_area(7,5,10)
print(round(result,3))

16.248

In [ ]:
#CW 3.1
def circle(r):
  import math
  area=math.pi*r**2
  return (round(area,4))

circle(5)

78.5398

In [ ]:
#CW 3.2
def sphere(r):
  import math
  volume=(4/3)*math.pi*r**3
  return (round(volume,4))
sphere (5)

523.5988

In [ ]:
#CW 3.3
def circle(r): #from 3.1
  import math
  area=math.pi*r**2
  return (round(area,4))

def sphere(r): #from 3.2
  import math
  volume=(4/3)*math.pi*r**3
  return (round(volume,4))

def fitting(a,b,c):
  a=a/2
  b=b/2
  if c==2:
    area_1 =  circle(a)
    area_2 =  circle(b)

    if area_1>area_2:
      difference=(area_1-area_2)
      difference=round(difference,3)
      return "Circel-2 can fit inside Circle-1 "+str(difference) +" squire units would be left."
    else:
      difference=(area_2-area_1)
      difference=round(difference,3)
      return "Circle-1 can fit inside Circle-2 "+str(difference)+" squire units would be left."

  else :
    volume_1= sphere(a)
    volume_2= sphere(b)

    if volume_1>volume_2:
      difference=(volume_1-volume_2)
      difference=round(difference,3)
      return "Circle-2 can fit inside Circle-1 and "+str(difference)+" cubic units would be left."

    else:
       difference=(volume_2-volume_1)
       difference=round(difference,3)
       return "Circle-1 can fit inside circle-2 and "+str(difference)+" cubic units would be left."

result=fitting(8,10,2)
print(result)

Circle-1 can fit inside Circle-2 28.274 squire units would be left.

In [ ]:
#CW 5.1
def one_to_N(m,n):
  if m==n:
    print(m,end=" ")
  else:
    print(m,end=" ")
    one_to_N(m+1,n)

one_to_N(1,int(input("Enter your input:")))

Enter your input:11
1 2 3 4 5 6 7 8 9 10 11

In [ ]:
#CW 5.2
def reverse_printing(m,n):
  if m==n:
    print(m,end=" ")
  else:
    print(n,end=" ")
    reverse_printing(m,n-1)

reverse_printing(1,int(input("Enter your input:")))

Enter your input:6
6 5 4 3 2 1

In [ ]:
# HW 1.1
def is_prime(n):
  if n>1:
    for i in range(2,n):
      if n%i==0 :
        return False

    return True
  else:
    return False

prime_check=is_prime(2)
print(prime_check)

True

In [ ]:
#HW-1.2
def is_perfect(n):
  sum=0
  for i in range(1,n,1):
    if n%i==0:
      sum+=i
  if sum==n:
    return True
  else:
    return False

perfect_check=is_perfect(6)
print(perfect_check)

True

In [ ]:
#HW 1.3
def is_prime(n): #From 1.1
  if n>1:
    for i in range(2,n):
      if n%i==0 :
        return False
    return True
  else:
    return False

def is_perfect(n): #from 1.2
  sum=0
  for i in range(1,n,1):
    if n%i==0:
      sum+=i
  if sum==n:
    return True
  else:
    return False

def special_sum(n):
  sum=0

  for i in range(2,n+1):
    if is_prime(i) or is_perfect(i):
      sum+=i
  return sum

result=special_sum(int(input("Please enter an integer:")))
print(result)

Please enter an integer:8
23

In [ ]:
#HW 2.1

def show_dots(n):
  for i in range(n):
    print(".",end="")
show_dots(5)

.....

In [ ]:
#HW-2.2
def show_palindrome(n):
  for i in range(1,n+1):
    print(i,end="")
  for j in range(n-1,0,-1):
      print(j,end="")
show_palindrome(5)

123454321

In [ ]:
#HW 2.3
def show_dots(n): #From 2.1
  for i in range(1,n+1):
    print(".",end="")


def show_palindrome(n): #From 2.2
  for i in range(1,n+1):
    print(i,end="")
  for j in range(n-1,0,-1):
      print(j,end="")

def show_triangle(n):
  colum=(n*2)-1
  for i in range(1,n+1):
    numbers=(i*2)-1
    dots=int((colum-numbers)/2)
    show_dots(dots)
    show_palindrome(i)
    show_dots(dots)
    print()

show_triangle(5)

....1....
...121...
..12321..
.1234321.
123454321

In [ ]:
#HW 3.1
def calc_tax(age,salary):
  if age<18:
    return 0
  elif salary<10000:
    return 0
  elif salary>10000 and salary <20000:
    tax= salary*0.07
    return tax
  elif salary >20000:
    tax=salary*0.14
    return tax

calc_tax(16,20000)

1260.0000000000002

In [ ]:
#3.2
def calc_yearly_tax():
  age=int(input("Enter your age:"))
  yearly_tax=0
  for i in range(1,13):
    salary=int(input("Enter your Salary: "))
    monthly_tax=calc_tax(age,salary)
    yearly_tax+=monthly_tax
    print(f"Month {i}Tax:{round(monthly_tax,2)}")
  print(f"Total Yearly Tax:{yearly_tax}")

calc_yearly_tax()

Enter your age:22
Enter your Salary: 8000
Month 1Tax:0
Enter your Salary: 15000
Month 2Tax:1050.0
Enter your Salary: 22000
Month 3Tax:3080.0
Enter your Salary: 2300
Month 4Tax:0
Enter your Salary: 15300
Month 5Tax:1071.0
Enter your Salary: 21000
Month 6Tax:2940.0
Enter your Salary: 34000
Month 7Tax:4760.0
Enter your Salary: 9000
Month 8Tax:0
Enter your Salary: 27000
Month 9Tax:3780.0
Enter your Salary: 88000
Month 10Tax:12320.0
Enter your Salary: 32000
Month 11Tax:4480.0
Enter your Salary: 7300
Month 12Tax:0
Total Yearly Tax:33481.0

In [ ]:
#HW4.1
def reverse_digits(n):
  if n<10:
    print(n)
  else:
    print (n%10)
    reverse_digits(n//10)
reverse_digits(649)

9
4
6

In [ ]:
n=343999//10
print(n)

34399

In [ ]:
#HW 4.2
def power(a,n):
  if n==0:
    return 1
  elif n==1:
    return a
  else:
    return a**n
result=power(9,4)
print(result)

6561

In [ ]:
#HW 5.0
def sequence_inerative(n):
  y=0
  for i in range(1,n+1):
    if i%2==0:
      y-=i
    else:
      y+=i
  return y

result=sequence_inerative(5)
print(result)

3

In [ ]:
from types import new_class
#HW 5.1
def sequence_recursive(n):
    if n == 1:
        return 1
    else:
        if n % 2 == 0:
            return sequence_recursive(n - 1) - n
        else:
            return sequence_recursive(n - 1) + n


result = sequence_recursive(5)
print(result)

3